body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    color: rgb(120, 120, 224);
}

.recipe-list {
    font-size: 20px;
    background-color: rgb(255, 201, 102);
    border-radius: 15px;
}

.list {
    border: solid;
    color: red;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}
